body {
    background-color: white;
}

.bg-image {
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

.btn-purple {
    color: #fff;
    background-color: #005377;
    border-color: #005377;
}

div.main {
    margin-top: 75px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 20px;
    color: black;
}

h1{
    color: white;
}

h4{
    font-size: 17px;
}